body{
    background-color:rgb(229, 242, 204);
    font-family: Helvetica;
}

.titulo{
    background-color: rgb(249, 199, 106);;
    font-family: Arial;
    text-align: center;
    font-size: 50px;
    color: orangered;
}

nav{
    background-color:crimson;
    padding: 10px;
    margin-bottom: 20px;

    .links a:link, a:visited {
        margin: 10px;
        color: white;
        text-decoration-color: transparent;
    }
        a:hover{
            color: rgb(228, 236, 115);
        }

        a:active{
            color: rgb(250, 166, 40);
        }
}

#pizarra{
    background-color: #243135;
    color: rgba(245, 245, 245, 0.755);
    text-align: justify;
    font-family: Georgia;
    letter-spacing: 2px;
    font-size: large;

    width: 400px;
    height: 400px;
    padding: 5%;
    padding-top: 2%;
    border: 15px solid rgb(58, 51, 42);
    margin-left: 30%;

    li{
    margin-bottom: 30px;
    }

    #botonContador{
    margin-left: 25%;
    padding: 5px;
    font-size: medium;
    
    }
    #contadorDeMeriendas{
        color: #e3dc4e;
        margin-left: 15px;
    }

    .seleccionado{
        text-decoration:underline;
        text-decoration-color: #e3dc4e;
    }
}

footer p{
    text-align: center;
    padding-top: 10px;
    border-top: 2px solid;
    border-color: brown;
    margin-top: 10px;
}


