body{
    background-color:rgb(229, 242, 204);
    font-family: Helvetica;
}

.titulo{
    background-color: rgb(249, 199, 106);;
    font-family: Arial;
    text-align: center;
    font-size: 50px;
    color: orangered;
}

nav{
    background-color:crimson;
    padding: 10px;
    margin-bottom: 20px;
}
.links a:link, a:visited{
    margin: 10px;
    color: white;
    text-decoration-color: transparent;
}
.links a:hover{
        color: rgb(228, 236, 115);
        text-decoration-color: transparent;
}
.links a:active{
        color: rgb(250, 166, 40);
        text-decoration-color: transparent;
}

#pizarra{
    background-color: #243135;
    color: rgba(245, 245, 245, 0.755);
    text-align: justify;
    font-family: Georgia;
    letter-spacing: 2px;
    font-size: large;

    width: 400px;
    height: 400px;
    padding: 5%;
    padding-top: 2%;
    border: 15px solid rgb(58, 51, 42);
    margin-left: 30%;

    li{
    margin-bottom: 30px;
    }

    #botonContador{
    margin-left: 25%;
    padding: 5px;
    font-size: medium;
    
    }
    #contadorDeMeriendas{
        color: #e3dc4e;
        margin-left: 15px;
    }
}

footer p{
    text-align: center;
    padding-top: 10px;
    border-top: 2px solid;
    border-color: brown;
    margin-top: 10px;
}

#contenedorTarjetas{
    float: left;
    margin: 40px;
    margin-left: 100px;
    color: rgb(29, 28, 33);
}

.tarjeta{
    text-align: center;
    font-family: Verdana;
    background-color: rgb(64, 130, 191);
    border: #243135 solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 20px;
    
}

#contenedorSelecciones{
    text-align: center;
    font-size: 30px;
    color:coral;
    width: 300px;
    height: 50px;
    float: right;
    padding: 50px;
    padding-bottom: 100px;
    margin-top: 250px;
    margin-right: 80px;
    border: #243135 solid;
    background-color: rgb(0, 58, 60);

}


.seleccionado{
    color: #00272c;
    background-color: rgb(48, 207, 255)
}